<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easyjava.lottery.infrastructure.dao.IUserTakeActivityDao">

    <resultMap id="userTakeActivityMap" type="cn.easyjava.lottery.infrastructure.po.UserTakeActivity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="take_id" property="takeId"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="take_date" property="takeDate"/>
        <result column="take_count" property="takeCount"/>
        <result column="uuid" property="uuid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addUserTakeActivity" parameterType="cn.easyjava.lottery.infrastructure.po.UserTakeActivity">
        INSERT INTO user_take_activity
        (user_id, take_id, activity_id, activity_name, take_date,
         take_count, uuid,strategy_id, state, create_time, update_time)
        VALUES
        (#{userId}, #{takeId}, #{activityId}, #{activityName}, #{takeDate},
         #{takeCount}, #{uuid},#{strategyId}, #{state}, now(), now())
    </insert>

    <update id="lockTackActivity" parameterType="cn.easyjava.lottery.infrastructure.po.UserTakeActivity">
        UPDATE user_take_activity SET state = 1
        WHERE user_id = #{userId} AND activity_id = #{activityId} AND state = 0
    </update>

    <select id="queryNoConsumedTakeActivityOrder" parameterType="cn.easyjava.lottery.infrastructure.po.UserTakeActivity" resultMap="userTakeActivityMap">
        SELECT activity_id, take_id, strategy_id, state
        FROM user_take_activity
        WHERE user_id = #{userId} AND activity_id = #{activityId} AND state = 0
        ORDER BY id DESC
        LIMIT 1
    </select>
</mapper>
